body {
    background: url('https://c4.wallpaperflare.com/wallpaper/984/709/234/linux-ubuntu-ubuntu-804-hardy-heron-technology-linux-hd-art-wallpaper-preview.jpg');
    background-size: contain;
}

h1 {
    font-size: 3em;
    color: white;
    text-align: center;
}

.cont-form {
    margin: auto;
    width: 900px;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.tabla{
    border: 1px solid rgb(255, 255, 255);
    text-align: center;
    color: rgb(255, 255, 255);
}
.titulo{
    width: 200px;
    height: 70px;
}
.descripcion{
    width: 600px;
    height: 70px;
    text-align: justify;
}

.redireccionar{
    width:100px;
    height: 70px;
}

table tr:hover {
    background-color: rgba(241, 72, 72, 0.644);
    color: black;
  }
.container{
    display: flex;
    justify-content: center;
    height: 80%;
}

th{
    height: 50px;
}
